<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="exam2712.Properties.Settings.book_matafonov_exam_453ConnectionString"
            connectionString="Data Source=SBD\MSSQL;Initial Catalog=book_matafonov_exam_453;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>